DATABASE_URL=mongodb://{IP}/{NAME}
TOKEN={TOKEN FROM BOT}
BOT_CLIENTID={CLIENTID OF YOUR BOT}
SOUNDS_FOLDER={RELATIVE TO app.js SOUNDS FOLDER (default: ./sounds)}
COMMAND_INJURE_ROLE={ROLE USER NEED TO USER 4injure COMMAND (default: injure)}